@import "variables.module.scss";

/*
  button styles
*/

.button-base {
  background-color: $confirmation-button;
  color: $white;
  padding: 6px 12px;
  border-radius: 60px;
  text-align: center;
  min-width: 160px;
  min-height: 24px;
  line-height: 24px;
  width: auto;
  font-size: 16px;
  display: block;
  font-weight: 600;
  border: 0;

  &:hover {
    cursor: pointer;
    background-color: $confirmation-hover;
  }
}

/*
  transaction form styles
*/

.transaction-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  text-align: center;

  .transaction-field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.25em 0.5em;
  }

  .transaction-submit-button {
    margin-top: 0.5em;
  }
}
